.gidole-regular {
  font-family: "Gidole", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

.education-box p {
  margin: 10px;
}
.comment {
  color: rgb(0 0 0 / 0.5);
  font-size: 0.875rem;
}

.institution {
  color: blue;
  font-weight: bold;
  font-size: 1.125rem;
  margin: 0px 0px 0px 0px;
}

.certificate-box {
  display: block;
  height: 100px;
}

.cert-image {
  height: 90px;
  width: 90px;
  float: left;
  margin: 0px 20px 0px 0px;

}

/*
  Had to use some help from ai for the following image structure.
  Would love to know how to implement it in a better way.
  Looks nice in ultrawide monitors.
*/
body.homepage {
  background: #fff;
}

body.homepage::before,
body.homepage::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: calc((100% - 1080px) / 2);

  background-image: url("../images/sinners.jpg");
  background-repeat: repeat-x;
  background-size: auto 100%;

  z-index: -1;
}

body.homepage::before {
  left: 0;
  background-position: right top;
}

body.homepage::after {
  right: 0;
  background-position: left top;
}
/*
  Ends here.
*/

main {
  background-color: white;
  padding: 0 100px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

footer {
  display: block;
  background-color: blue;
  color: #fff;
  text-align: center;
  width: 1080px;
  margin: 0 auto;
  padding: 2px 100px;
}

#main-nav {
  display: block;
  background-color: black;
}

nav#main-nav div.container {
  width: 690px;
  margin: 0 auto;
  overflow: hidden;
}

nav#main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0px;
  display: inline-block;
  vertical-align: top;
}

nav#main-nav ul li {
  float: left;
  margin: 0px 12px;
}

nav#main-nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
}

main div#cats {
  font-size: 1.25rem;
  display: block;
  width: 1080px;
  overflow: hidden;
}

main div#cats div.container {
  display: block;
  float: left;
  width: 360px;
  height: auto;
  overflow: hidden;
}


main div#sinners-reference {
  display: block;
  width: 100%;
  margin: 0 auto;
}

main div#sinners-reference p {
  display: block;
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.25rem;
  vertical-align: center;
}

main div#sinners-reference iframe.youtube {
  display: block;
  width: 100%;
  margin: 0px auto 20px auto;
  aspect-ratio: 16 / 9;
  height: auto;
}