.gidole-regular {
  font-family: "Gidole", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.new-rocker-regular {
  font-family: "New Rocker", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url("../images/sinners.jpg");
}

main {
  background-color: white;
  padding: 0 100px;
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

footer {
  display: block;
  background-color: blue;
  color: #fff;
  text-align: center;
  width: 1080px;
  margin: 0 auto;
  padding: 2px 100px;
}

#main-nav {
  display: block;
  background-color: black;
}

nav#main-nav div.container {
  width: 690px;
  margin: 0 auto;
}

nav#main-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 24px 0px;
  display: inline-block;
  vertical-align: top;
}

nav#main-nav ul li {
  float: left;
  margin: 0px 12px;
}

nav#main-nav ul li a {
  display: block;
  background-color: blue;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  width: 200px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
}

main div#cats {
  display: block;
  width: 1080px;
  overflow: hidden;
}

main div#cats div.container {
  display: block;
  float: left;
  width: 360px;
  height: auto;
  overflow: hidden;
}


main div#sinners-reference {
  display: block;
  width: 100%;
  margin: 0 auto;
}

main div#sinners-reference p {
  display: block;
  width: 75%;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  vertical-align: center;
}

main div#sinners-reference iframe.youtube {
  display: block;
  width: 100%;
  margin: 0px auto 20px auto;
  aspect-ratio: 16 / 9;
  height: auto;
}